<section class="header "
  [ngClass]="{'survey-header':screenType == 'survey','delivery-header':screenType == 'delivery'}">
  <p-content-wrapper class="hydrated p-content-wrapper" width="extended">
    <p-grid>
      <p-grid-item [size]="12">
        <div class="header-box">
          <a href="javascript:void(0);" class="logo" routerLink="/">

            <img [src]="logoUrl+'images/Porsche_wordmark_black_rgb.svg'" alt="header-logo" class="header_logo" width="200"/>
          </a>
          <div class="right-part" *ngIf="isLoggedIn">
            <div class="btn-container">
              <span class="en" [ngClass]="!isEnglish ? 'active' : ''">EN</span>
              <div class="button range">
                <input type="checkbox" class="checkbox" [checked]="!isEnglish" (click)="clickEvent()">
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
              <span class="fr" [ngClass]="!isEnglish ? 'active' : ''">FR</span>
            </div>



            <div class="location-info" >
              <span class="pull-left">
                <p class="bold cursor-auto">{{firstName}}</p>
              </span> 
            </div> 
          </div>
        </div>
      </p-grid-item>
    </p-grid>
  </p-content-wrapper>
</section>